# API keys and secrets
.env

# Dependency directory
node_modules

# Ignore built ts files
dist

# Comment out this line if the project is not a library
package-lock.json

# Jest coverage reports
coverage
